* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  background-color: black;
}

div {
  border: 5px solid black;
}

div.content {
  border: 15px dotted red;
}

div.content > div {
  margin: 50px;
  padding: 25px;
}

div.box-1 {
  border-color: blue;
}

div.box-2 {
  border-color: green;
  border-style: dashed;
}

/** UTIL CLASSES  */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.square_small {
  height: 100px;
  width: 100px;
}

.square_large {
  height: 200px;
  width: 200px;
}

.text_red {
  color: red;
}

.text_blue {
  color: blue;
}
