* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primebackground);
}

.wrapper {
  color: var(--primetext);
}

ul {
  display: flex;
  justify-content: left;
  padding-left: 50px;
  flex-direction: row;
  gap: 16px;
}

li {
  list-style-type: none;
}

a {
    color: var(--primetext);
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
}

.nav-bar {
  background-color: var(--secondarybackground);
  padding: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
    margin-top: 80px;
    justify-items: center;
}

.images-random {
    display: grid;
    justify-items: center;
    margin-top: 80px;
}

img, .random-img {
  width: 400px;
  height: 400px;
}

h3 {
    color: var(--primetext);
}

:root {
  --primebackground: #222831;
  --secondarybackground: #393E46;
  --primetext: #00ADB5;
}
