h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: -webkit-linear-gradient(#83f6c0, #007f4e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background: linear-gradient(#202020, #000000);
}

p,
h2,
h4,
ol {
  color: #5d5d5d;
  margin: 40px;
}

#pictures {
  margin: 40px;
  opacity: 50%;
  width: 300px;
  height: auto;
}

.button {
  margin: 40px;
  background-color: #202020;
  color: #bebebe;
  border-color: #bebebe;
}

.button:hover {
    background-color: rgb(78, 78, 78);
}
