* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150vh;
  background-image: linear-gradient(
    #ff0017,
    #ff8900,
    #ffb200,
    #ffff00,
    #94ff00
  );
}


#content {
  font-size: 80px;
}

#img {
  width: 800px;
  height: 600px;
  border: 5px solid black;
}

#gallery {
  display: flex;
  justify-content: space-between;
}

#gallery img {
  width: 150px;
  height: 150px;
  border: 5px solid black;
}

h1 {
    background: -webkit-linear-gradient(#ff0017,
    #ff8900,
    #ffb200,
    #ffff00,
    #94ff00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

